---
import BaseLayout from "../layouts/BaseLayout.astro"
import Links from "../components/Links.astro"
import '../styles/Listas.css'

const pageTitle = "Meu Trabalho"

const allLinks = await Astro.glob("../pages/links/*.md")
---
<BaseLayout pageTitle={pageTitle}>
  {allLinks.filter((link) => link.frontmatter.title === "").map((link) => (<Links class="home" target={link.frontmatter.target} rel={link.frontmatter.rel} link={link.frontmatter.link}  icon={link.frontmatter.icon} title={link.frontmatter.title} style={link.frontmatter.style}/>))}
  <h1>{pageTitle}</h1>
  <h2>Explore-os:</h2>
  <ul>
    <li>{allLinks.filter((link) => link.frontmatter.tag === "work").map((link) => (<Links target={link.frontmatter.target} rel={link.frontmatter.rel} link={link.frontmatter.link}  icon={link.frontmatter.icon} title={link.frontmatter.title}/>))}</li>
  </ul>
</BaseLayout>